{% load staticfiles %}<html lang="en"><head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Blog for everything around</title>
    {% endblock %}
    <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link  href="{% static 'css/blog.css' %}" rel="stylesheet">
{% if user.is_authenticated %}
<input type="button" value="Logout" class="btn btn-primary log btn-sm" onclick="javascript:window.location='/logout/'" />
    <p class="log">Hello, {{ user.username }}&nbsp&nbsp </p>
{% else %}
<input type="button" value="Login" class="btn btn-success log btn-sm"  onclick="javascript:window.location='/login/'" />
{% endif %}

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated and perms.blog.add_post %}
        <a href="{% url 'post_new' %}" class="top-menu" title="Create new post"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        {% if user.is_authenticated and perms.blog.change_post %}
        <a href="{% url "post_draft_list" %}" class="top-menu" title="List of unpublished posts"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <h1><a href="/blog/">Blog for everything around</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-xs-12 col-md-8 ">

            {% block content %}
            {% endblock %}

            </div>

            <div class="col-xs-6 col-md-3 col-md-offset-1">

            {% block pluscontent %}
            {% endblock %}

            </div>

        </div>
    </div>
</body>
</html>