{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block content %}

            {% for post in post %}
                <div class="post">
                    <div class="date">
                        <p class="shr">published: {{ post.published_date }}</p>
                        <p class="shr">by: {{ post.author }}</p>
                    </div>
                    <br>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    {% if post.tags %}
                        {%for tags in post.tags.all %}
                            <a class="btn btn-default btn-xs tags" href="{% url 'post_tag_search' tag=tags %}">{{ tags }}</a>
                        {% endfor %}
                     <br><br>
                    {% endif %}
                    {% if post.image %}
                        <p><img src="{{ post.image.url }}" style="max-width:750px;" ></p>
                    {% endif %}
                    {% if post.video %}
                        <p>{% video post.video '640x360' %}</p>
                    {% endif %}
                    <p >{{ post.text|linebreaks }}</p>
                    <a href="{% url "blog.views.post_detail" pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>



                <p class="heart"><a href="{% url 'post_likes' pk=post.pk %}" ><img src="{% static 'like.png' %}" width="20px" height="20px"></a>{{ post.likes}}</p>
                <hr>
                </div>
            {% endfor %}



    <div class="row">
        <div class="col-xs-6 col-md-4">
            <ul class="pagination">
                {% if post.has_previous %}
                    <li class="previous"><a href="/page/{{ post.previous_page_number }}/">&laquo;</a></li>
                <!--
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>-->
                {% endif %}
                {% for page in post.paginator.page_range   %}
                    {% if page == post.number %}
                        <li class="active"><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if post.has_next %}
                    <li class="next"><a href="/page/{{ post.next_page_number }}/">&raquo;</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block pluscontent %}

 <div class="chat">
 Chat<hr>

  {% for message in chat_block %}
      <p>{{ message.author }}:&nbsp{{ message }}</p>
  {% endfor %}

   <hr>
   <form action="/add/message/" method="post" class="post-form">
         {% csrf_token %}
         {{ chat_form.as_p }}
         <input type="submit" class="btn-primary" value="Send">
   </form>

    </div>

{% endblock %}
