{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
            {% for post in post %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                        <p>by: {{ post.author }}</p>
                    </div>
                    <br>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" >
                    {% endif %}
                    <p >{{ post.text|linebreaks }}</p>
                    <a href="{% url "blog.views.post_detail" pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>



                <p><a href="{% url 'post_likes' pk=post.pk %}"><img src="{% static 'like.png' %}" width="20px" height="20px"></a>{{ post.likes}}</p>
                </div>
            {% endfor %}

    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination">
                {% if post.has_previous %}
                    <li class="arrow"><a href="/page/{{ post.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in post.paginator.page_range %}
                    {% if page == post.number %}
                        <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if post.has_next %}
                    <li class="arrow"><a href="/page/{{ post.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
