{% extends 'blog/base.html' %}
{% block content %}
                <div class="post">
                    <div class="date">
                        {% if user.is_authenticated  and perms.blog.delete_post %}
                        <a class="btn btn-default btn-md" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                        {% if post.published_date %}
                            <div class="date">
                                <p>{{ post.published_date }}</p>
                                <p>by: {{ post.author }}</p>
                            </div>
                        {% else %}
                            {% if user.is_authenticated and perms.blog.change_post %}
                            <a class="btn btn-default btn-md" href="{% url "post_change" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-default btn-sm" href="{% url "blog.views.post_publish" pk=post.pk %}">Publish</a>
                             {% endif %}

                    </div>
                {% endif %}
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                 {% if post.image %}
                    <img src="{{ post.image.url }}" >
                 {% endif %}
                    <p>{{ post.text|linebreaks }}</p>
                </div>
    <a class="btn btn-default" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}
    {% if user.is_authenticated and perms.blog.change_change or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}