{% extends 'blog/base.html' %}
{% load embed_video_tags %}
{% load staticfiles %}
{% block content %}

                <div class="post">
                    <div class="date">

                        {% if user.is_authenticated  and perms.blog.delete_post %}
                        <a class="btn btn-default btn-md" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

                        {% endif %}

                        {% if user.is_authenticated and perms.blog.change_post %}
                            <a class="btn btn-default btn-md" href="{% url "post_change" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

                            <hr>
                        {% endif %}

                        {% if post.published_date %}
                                <p class="shr">{{ post.published_date }}</p>
                                <p class="shr">by: {{ post.author }}</p>
                            <hr>
                        {% else %}
                            &nbsp&nbsp<a class="btn btn-default btn-sm" href="{% url "blog.views.post_publish" pk=post.pk %}">Publish</a>
                        {% endif %}



                    </div>

                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    {% if post.tags %}
                        {%for tags in post.tags.all %}
                            <a class="btn btn-default btn-xs tags" href="{% url 'post_tag_search' tag=tags %}">{{ tags }}</a>
                        {% endfor %}
                     <br><br>

                 {% endif %}
                 {% if post.image %}
                    <p><img src="{{ post.image.url }}" ></p>
                 {% endif %}
                 {% if post.video %}
                        <p>{% video post.video '640x360' %}</p>
                 {% endif %}
                    <p>{{ post.text|linebreaks }}</p>

                 <p class="heart"><a href="{% url 'post_likes' pk=post.pk %}" ><img src="{% static 'like.png' %}" width="20px" height="20px"></a>{{ post.likes}}</p>
                  <br>
                  <hr>

                  <a class="btn btn-default" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}
    {% if user.is_authenticated and perms.blog.change_change or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}

    <br><br><br><p>No comments here yet :(</p>
{% endfor %}


                </div>



{% endblock %}