{% load staticfiles %}

<!D0CTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//ENM>
<html lang="ru"> 
<head>
    <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link  href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link  href="{% static 'css/blog.css' %}" rel="stylesheet">



{% if user.is_authenticated %}
<input type="button" value="Logout" class="btn btn-default" onclick="javascript:window.location='/logout/'" />
{% else %}
<input type="button" value="Login" class="btn btn-success" onclick="javascript:window.location='/login/'" />
{% endif %}

<title>{% block title %}{% endblock %}</title> 
</head> 
<body>
<h1>Мой сайт для вас </h1>

<hr>
{% if user.is_authenticated %}
<p>Добро пожаловать, {{ user.username }}. Спасибо, что зашли.</p>
{% else %}
<p>Добро пожаловать, незнакомец. Пожалуйста, назовите себя.</p>
{% endif %}
<hr>

{% block content %}{% endblock %} 
{% block footer %} 
<hr> 
<p>Спасибо, что посетили мой сайт.</p>
{% endblock %} 
</body> 
</html> 
